# Just a unique token that could be useful, such as for backend access (created via `yarn setup` initializing this template)
BACKEND_SECRET=Tz3zZNhb_7trg1YXAr7WJNja-y-6FgYG
# Local file path for example entities and such. Is "/app" within Docker but "../.." when running from source
CATALOG_FILE_PATH="../.."
# Other keys

# PAT for general GitHub integration (ingesting repos, creating repos)
GITHUB_TOKEN=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

# OAuth app for Backstage: https://github.com/organizations/CervTest/settings/applications/2241184
# Online use: https://backstage.terasology.io and https://backstage.terasology.io:7007/api/auth/github/handler/frame
# Actually online callback seems to work without the port so https://backstage.terasology.io/api/auth/github/handler/frame

# Local use: http://192.168.86.242:3033 and http://192.168.86.242:7007/api/auth/github/handler/frame (IP changes, sometimes localhost OK)
# https://github.com/organizations/CervTest/settings/applications/1818070

# Token for OAth login via GitHub - client id.
GITHUB_AUTH_CLIENT_ID=48a8316e9576f0c541ad
# Token for OAth login via GitHub - client secret.
GITHUB_AUTH_CLIENT_SECRET=d8dd47b7d43481f0efd584f4d2b6067db58254fe

# Spotify license key for premium plugins.
SPOTIFY_LICENSE=CC9A7B-18A525-FF31CA-8069E7-D33F2D-V3
